# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Node
node_modules/

# Env
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build output
build/
dist/

# App data/artifacts
fusedchat_backend/vector_store/
fusedchat_backend/data/uploads/
